a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: lightgray;
}

a:link,
a:visited {
  color: white;
}

.navLinks {
  list-style: none;
}

.navCaption {
  display: inline-block;
  padding-left: 6px;
}
